/* Cropper.js 기본 스타일 */
.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.cropper-container img {
  display: block;
  height: 100%;
  image-orientation: 0deg;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 100%;
}

.cropper-wrap-box {
  background-color: #fbfbfb;
  border-radius: 8px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.cropper-canvas {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.cropper-drag-box {
  background-color: #fff;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cropper-modal {
  background-color: rgba(214, 214, 214, 0.15) !important;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cropper-view-box {
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cropper-face {
  background-color: inherit;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cropper-line {
  background-color: #39f;
  font-size: 0;
  line-height: 0;
  position: absolute;
}

.cropper-point {
  background-color: #39f;
  border: 1px solid #fff;
  font-size: 0;
  height: 10px;
  line-height: 0;
  opacity: 0.75;
  position: absolute;
  width: 10px;
}

.cropper-point.point-e {
  cursor: e-resize;
  margin-top: -5px;
  right: -5px;
  top: 50%;
}

.cropper-point.point-n {
  cursor: n-resize;
  left: 50%;
  margin-left: -5px;
  top: -5px;
}

.cropper-point.point-w {
  cursor: w-resize;
  left: -5px;
  margin-top: -5px;
  top: 50%;
}

.cropper-point.point-s {
  bottom: -5px;
  cursor: s-resize;
  left: 50%;
  margin-left: -5px;
}

.cropper-point.point-ne {
  cursor: ne-resize;
  right: -5px;
  top: -5px;
}

.cropper-point.point-nw {
  cursor: nw-resize;
  left: -5px;
  top: -5px;
}

.cropper-point.point-sw {
  bottom: -5px;
  cursor: sw-resize;
  left: -5px;
}

.cropper-point.point-se {
  bottom: -5px;
  cursor: se-resize;
  right: -5px;
}

.cropper-point.point-se::before {
  background-color: #39f;
  bottom: -50%;
  content: " ";
  height: 200%;
  left: -50%;
  opacity: 0;
  position: absolute;
  top: -50%;
  width: 200%;
}

.cropper-invisible {
  opacity: 0;
}

.cropper-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAABPWDiAAAABlBMVEUAAAD///+l2Z/dAAAAM0lEQVR4nGP4/5/h/1+G/58ZDrAz3D/McH8yw83NDDeNGe4Ug9C9zwz3pBlOMNHqEwAAKbwDAXekAoIAAAAASUVORK5CYII=");
}

.cropper-hide {
  display: block !important;
  height: 0 !important;
  width: 0 !important;
}

.cropper-hidden {
  display: none !important;
}

.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}
