@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

#root {
  white-space: pre-line;
  --header-bg: #c7c7c7;
  --headerItems-bg: #ffffff;
  --footer-border: #000000;
  --text-color: #000000;
  --card-bg: #aaaaaa;
  --button-bg: #454545;

  --search-bar-bg: #ffffff;
  --search-element-bg: rgba(140, 140, 140, 0.16);
  --search-element-border: rgba(191, 191, 191, 0.4);
  --search-element-text: rgba(38, 38, 38, 0.8);

  --main-color: #ee6768;
  --main-color-sub: #ffe5e4;
  --main-text: #ffffff;

  --indicator-disabled: rgba(69, 69, 69, 0.16);
  --deactivated-text: rgba(69, 69, 69, 0.33);
  --sidebar: #f49fa0;
  --sidebar-text: #262626cc;

  --sidebar-active: rgba(244, 159, 160, 1);

  --header-text: #ffffff;

  --card-text: #ffffff;
  --card-subText: rgba(38, 38, 38, 0.8);

  --tooltip-bg: rgba(38, 38, 38, 0.8);
  --tooltip-text: rgba(255, 255, 255, 1);

  --sem-bg-elevated-alt: #f5f5f5;
  --sem-fill-norm: rgba(140, 140, 140, 0.08);

  --place-neutral: rgba(38, 38, 38, 0.8);

  --label-normal: rgba(31, 31, 31, 1);

  --modal-bg: rgba(0, 0, 0, 0.2);

  --neutral-600: #8c8c8c;

  --place-detail-heart: rgba(69, 69, 69, 0.33);

  --textarea-border: rgba(191, 191, 191, 0.4);

  --tab-fg: rgba(238, 103, 104, 0.45);
  --tab-bg: rgba(238, 103, 104, 0.05);

  --kakao: #fee500;
  --naver: #03c75a;
  --google: #ffffff;

  --state-error: #ff0000;
  --state-success: #00da07;
  --state-warning: #ffc300;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);

  --font-pretendard: "Pretendard Variable", sans-serif;
  --font-dunggeunmiso: "Hakgyoansim Dunggeunmiso", sans-serif;
}

.dark {
  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-pretendard {
  font-family: var(--font-pretendard);
}

.font-dunggeunmiso {
  font-family: var(--font-dunggeunmiso);
}

.kakao-info {
  width: fit-content;
  height: fit-content;
  padding: 0px, 8px;
  border-radius: 16px;
  justify-items: center;
  font-family: var(--font-dunggeunmiso);
  color: #ee6768;
}

.k-iw {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  padding: 6px 10px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.35;
  color: #ee6768;
  font-family: var(--font-dunggeunmiso);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
  font-weight: 600;
}

/* Webkit (크롬, 사파리) */
.scrollbar-style::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background: rgba(191, 191, 191);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 2px solid transparent;
  border-right: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 99999999px;
}
